<div class="h-screen bg-indigo-800 flex justify-center items-center">
  <div class="bg-white w-3/4 max-w-4xl rounded-lg p-10">
    <!-- Przycisk logowania przez Google -->
    <button class="w-full flex items-center justify-center py-3 px-6 bg-blue-400 text-white font-semibold rounded-lg hover:bg-blue-500 transition duration-300">
      <!-- SVG logo Google -->
      <svg class="w-6 h-6 mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 533.5 544.3">
        <path fill="#4285F4" d="M533.5 278.4c0-17.4-1.5-34-4.6-50.3H272v95.4h147.4c-6.3 34.1-24.4 63-51.7 82.3v68h83.4c48.9-45.2 76.9-112.1 76.9-193.4z"/>
        <path fill="#34A853" d="M272 544.3c69.7 0 128.1-23.1 170.8-62.7l-83.4-68c-23.2 15.6-52.8 24.8-87.4 24.8-67.2 0-124.1-45.3-144.3-106.4H52.4v68.2C94.1 517.3 167.3 544.3 272 544.3z"/>
        <path fill="#FBBC05" d="M127.7 324.6c-9.8-29.3-9.8-60.8 0-90.1V166H52.4c-39.6 78.8-39.6 172.7 0 251.5l75.3-68.9z"/>
        <path fill="#EA4335" d="M272 107.3c35.8 0 68 12.4 93.2 36.6l70.3-70.3C400.1 24.5 337.8 0 272 0 167.3 0 94.1 27 52.4 81.8l75.3 68.9c20.2-61.1 77.1-106.4 144.3-106.4z"/>
      </svg>
      Dołącz za pomocą Google
    </button>
    <h1 class="text-2xl font-bold mb-6 text-center">Utwórz konto</h1>
    <form class="space-y-6" [formGroup]="registerForm">
      <!-- Sekcja imienia i nazwiska -->
      <div class="flex space-x-4">
        <div class="w-1/2">
          <label class="block text-gray-700 font-medium mb-2">Imię</label>
          <input formControlName="name" type="text" placeholder="Imię" class="w-full p-2 border border-gray-300 rounded-lg">
        </div>
        <div class="w-1/2">
          <label class="block text-gray-700 font-medium mb-2">Nazwisko</label>
          <input formControlName="surname" type="text" placeholder="Nazwisko" class="w-full p-2 border border-gray-300 rounded-lg">
        </div>
      </div>

      <!-- Sekcja email -->
      <div>
        <label class="block text-gray-700 font-medium mb-2">E-mail</label>
        <div class="relative">
          <input formControlName="email" type="email" placeholder="example@gmail.com" class="w-full p-2 border border-gray-300 rounded-lg pl-10">
          <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z"/>
            <path d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z"/>
          </svg>
        </div>
      </div>

      <!-- Sekcja haseł -->
      <div class="flex space-x-4">
        <div class="w-1/2">
          <label class="block text-gray-700 font-medium mb-2">Hasło</label>
          <input formControlName="password" type="password" placeholder="••••••••" class="w-full p-2 border border-gray-300 rounded-lg">
        </div>
        <div class="w-1/2">
          <label class="block text-gray-700 font-medium mb-2">Powtórz hasło</label>
          <input type="password" placeholder="••••••••" class="w-full p-2 border border-gray-300 rounded-lg">
        </div>
      </div>

      <!-- Sekcja miasto -->
      <div>
        <label class="block text-gray-700 font-medium mb-2">Miasto</label>
        <div class="relative">
          <input formControlName="city" type="text" placeholder="Wybierz miasto" class="w-full p-2 border border-gray-300 rounded-lg pl-10">
          <svg class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>

      <!-- Sekcja data urodzenia -->
      <div>
        <label class="block text-gray-700 font-medium mb-2">Data urodzenia</label>
        <input formControlName="dateOfBirth" type="date" class="w-full p-2 border border-gray-300 rounded-lg">
      </div>

      <!-- Przycisk -->
      <div class="text-center">
        <button class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700">Utwórz konto</button>
      </div>
    </form>
    <pre> {{ registerForm.value | json}}</pre>
  </div>
</div>
