<!--<div class="dashboard-content w-3/4 p-8">-->
<!--  <div class="p-8">-->
<!--    <h2 class="text-2xl font-bold mb-6">Twoje kursy</h2>-->
<!--    <div class="grid grid-cols-2 gap-6">-->
<!--      <div *ngFor="let course of courses" class="bg-white rounded-lg shadow-lg overflow-hidden relative">-->
<!--        <img [src]="course.image" alt="Course Image" class="w-full h-40 object-cover">-->
<!--        <div class="p-4">-->
<!--          <h3 class="text-lg font-semibold text-gray-800">{{ course.title }}</h3>-->
<!--          <p class="text-sm text-gray-500 mt-2">{{ course.author }}</p>-->
<!--          <span class="absolute top-4 right-4 bg-orange-500 text-white text-xs px-2 py-1 rounded-lg">{{ course.duration }}</span>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


  <!-- Nagłówek -->
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-indigo-800">Witaj, {{ userName }}!</h1>
    <p class="text-gray-600">Zarządzaj swoimi lekcjami i korzystaj z funkcji platformy.</p>
  </div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-6">
  <!-- Znajdź korepetytora -->
  <div class="bg-gradient-to-r from-blue-400 to-indigo-600 text-white p-6 rounded-lg shadow-lg hover:shadow-xl transition transform hover:scale-105">
    <h2 class="text-xl font-bold mb-4">Znajdź korepetytora</h2>
    <p class="text-sm mb-4">Przeglądaj dostępnych nauczycieli i zapisz się na lekcję.</p>
    <button class="bg-white text-indigo-600 font-semibold px-4 py-2 rounded-lg hover:bg-gray-200" routerLink="/znajdz-korepetytora">
      Przeglądaj
    </button>
  </div>

  <!-- Historia lekcji -->
  <div class="bg-gradient-to-r from-green-400 to-teal-500 text-white p-6 rounded-lg shadow-lg hover:shadow-xl transition transform hover:scale-105">
    <h2 class="text-xl font-bold mb-4">Historia lekcji</h2>
    <p class="text-sm mb-4">Zobacz swoje zakończone lekcje.</p>
    <button class="bg-white text-green-600 font-semibold px-4 py-2 rounded-lg hover:bg-gray-200" routerLink="/dashboard/historia">
      Zobacz historię
    </button>
  </div>
  <div class="bg-gradient-to-r from-orange-400 to-red-500 text-white p-6 rounded-lg shadow-lg hover:shadow-xl transition transform hover:scale-105">
    <h2 class="text-xl font-bold mb-4">Oceny i Opinie</h2>
    <p class="text-sm mb-4">Wystaw opinię za lekcje.</p>
    <button class="bg-white text-orange-600 font-semibold px-4 py-2 rounded-lg hover:bg-gray-200" routerLink="/dashboard/opinie">
      Przejdź do opinii
    </button>
  </div>

</div>



