<ng-container *ngIf="!isAuthRoute(); else authLayout">
  <ng-container *ngIf="!isDashboardRoute(); else dashboardLayout">
    <ng-container *ngIf="!isEditProfileRoute(); else editProfileLayout">

      <!-- Layout strony głównej -->
      <div class="h-screen flex bg-indigo-800">
        <!-- Przycisk do logowania -->

        <!-- Menu nawigacyjne -->
        <div class="bg-indigo-800 text-white flex flex-col p-4 shadow-xl w-1/5">
          <app-main-menu></app-main-menu>
        </div>

        <!-- Główna zawartość -->
        <div class="flex-1 flex items-center justify-center p-6 relative z-0 h-screen">
          <div class="bg-white w-full max-w-5xl h-[80vh] rounded-3xl p-8 shadow-2xl flex flex-col items-center justify-start overflow-y-auto">
            <router-outlet></router-outlet>


          </div>
        </div>
      </div>

    </ng-container>
  </ng-container>

  <ng-template #dashboardLayout>
    <!-- Layout dashboardu -->
    <div class="h-screen flex bg-indigo-800">
      <!-- Menu nawigacyjne -->
      <div class="bg-indigo-800 text-white flex flex-col p-4 shadow-xl w-1/5">
        <app-dashboard-menu></app-dashboard-menu>
      </div>

      <!-- Główna zawartość dashboardu -->
      <div class="flex-1 flex items-center justify-center p-6 relative z-0 h-screen">
        <button
          class="absolute top-4 right-4 bg-red-500 text-white flex items-center px-4 py-2 rounded-lg shadow-md hover:bg-red-600"
          (click)="logout()"
        >
          <svg
            class="w-5 h-5 mr-2"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1m0-10V5m0 14a2 2 0 001-3.732M13 5a2 2 0 011 3.732"
            ></path>
          </svg>
        </button>

        <div class="bg-white w-full max-w-5xl h-[80vh] rounded-3xl p-8 shadow-2xl flex flex-col items-center justify-start overflow-y-auto">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #editProfileLayout>
    <!-- Layout dla edycji profilu -->
    <div class="h-screen bg-indigo-800 flex justify-center items-center">
      <div class="bg-white rounded-3xl p-8 shadow-lg w-full max-w-lg h-[80vh] flex flex-col items-center justify-start overflow-y-auto">
        <router-outlet></router-outlet> <!-- Zawartość edycji profilu -->
      </div>
    </div>
  </ng-template>

</ng-container>

<ng-template #authLayout>
  <!-- Layout dla auth (bez menu) -->
  <div class="h-screen bg-indigo-800 flex justify-center items-center">
    <div class="bg-white rounded-3xl p-8 shadow-lg w-full max-w-lg h-[80vh] flex flex-col items-center justify-start overflow-y-auto">
      <router-outlet></router-outlet> <!-- Zawartość logowania/rejestracji -->
    </div>
  </div>
</ng-template>
