<ng-container *ngIf="!isDashboardRoute(); else dashboardLayout">
  <!-- Layout strony głównej -->
  <div class="h-screen flex bg-indigo-800">
    <div class="w-1/4 bg-indigo-800 text-white flex flex-col p-4 shadow-xl">
      <app-main-menu></app-main-menu> <!-- Menu nawigacyjne -->
    </div>
    <div class="w-3/4 flex items-center justify-center p-8 relative z-0">
      <div class="bg-white w-full rounded-l-3xl rounded-r-3xl p-8 shadow-lg">
  <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #dashboardLayout>
  <!-- Layout dashboardu -->
  <div class="h-screen flex bg-indigo-800">
    <div class="w-1/4 bg-indigo-800 text-white flex flex-col p-4 shadow-xl">
  <app-dashboard-menu></app-dashboard-menu>
    </div>
    <div class="w-3/4 flex items-center justify-center p-8 relative z-0">
      <div class="bg-white w-full rounded-l-3xl rounded-r-3xl p-8 shadow-lg">
  <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>
