
      <div class="text-center">
        <h1 class="text-3xl font-bold text-indigo-800 mb-4">Dołącz do profesjonalistów w MATLOG</h1>
        <h2 class="text-lg text-gray-800 mb-4">    Dołącz do zespołu MATLOG i pomóż uczniom osiągać ich cele edukacyjne. Elastyczne godziny pracy, konkurencyjne wynagrodzenie i wsparcie na każdym etapie.</h2>
      </div>
      <h1 class="text-3xl font-bold text-indigo-800 mb-4"> Korzyści: </h1>
      <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="bg-gray-100 p-6 rounded-lg shadow-md text-center">
          <svg class="w-12 h-12 text-indigo-600 mx-auto mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Zm2 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
          </svg>
          <h3 class="text-xl font-semibold text-indigo-800 mb-2">Elastyczny Grafik</h3>
          <p class="text-gray-600">Ucz wtedy, kiedy masz czas i ochotę. Dopasuj harmonogram do swoich potrzeb.</p>
        </div>
        <div class="bg-gray-100 p-6 rounded-lg shadow-md text-center">
          <svg class="w-12 h-12 text-indigo-600 mx-auto mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Zm2 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
          </svg>
          <h3 class="text-xl font-semibold text-indigo-800 mb-2">Elastyczny Grafik</h3>
          <p class="text-gray-600">Ucz wtedy, kiedy masz czas i ochotę. Dopasuj harmonogram do swoich potrzeb.</p>
        </div>
        <div class="bg-gray-100 p-6 rounded-lg shadow-md text-center">
          <svg class="w-12 h-12 text-indigo-600 mx-auto mb-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" fill-rule="evenodd" d="M8 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1h2a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h2Zm6 1h-4v2H9a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2h-1V4Zm-3 8a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Zm2 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-2-1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
          </svg>
          <h3 class="text-xl font-semibold text-indigo-800 mb-2">Elastyczny Grafik</h3>
          <p class="text-gray-600">Ucz wtedy, kiedy masz czas i ochotę. Dopasuj harmonogram do swoich potrzeb.</p>
        </div>
        </div>


