
  <!-- Główna sekcja -->
      <!-- Sekcja powitalna -->
      <div class="text-center">
        <h1 class="text-3xl font-bold text-indigo-800 mb-4">Witamy w MATLOG</h1>
        <h2 class="text-2xl text-gray-800 mb-4">Pracownia Rozwiązań</h2>
        <h3>Łączymy uczniów i korepetytorów. Zdobądź wiedzę, którą potrzebujesz!</h3>
        <button class="mt-4 py-3 px-6 rounded-full bg-indigo-800 text-white font-semibold hover:bg-indigo-700">
          ZNAJDŹ KOREPETYTORA
        </button>
      </div>

      <div class="flex bg-white rounded-3xl shadow-lg p-6">
        <!-- Lewa sekcja z tekstem -->
        <div class="w-1/2 p-4">
          <h2 class="text-2xl font-bold text-indigo-800 mb-4">Dlaczego warto dołączyć?</h2>
          <p class="text-gray-700 leading-relaxed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci ligula, ultrices vel lorem at, ultricies lacinia augue. Nunc eu magna finibus, aliquet tellus ut, bibendum magna.
          </p>
          <p class="mt-4 text-gray-700 leading-relaxed">
            Fusce euismod hendrerit orci, in eleifend mauris volutpat a. Nunc eleifend ullamcorper felis ac gravida. Mauris rhoncus magna nec nulla pulvinar, sit amet consectetur turpis ultricies.
          </p>
        </div>
        <!-- Prawa sekcja z opiniami -->
        <div class="w-1/2 p-4 bg-gray-50 rounded-r-3xl shadow-inner">
          <h3 class="text-xl font-semibold text-indigo-800 mb-4">Opinie użytkowników</h3>
          <ul class="space-y-4">
            <li class="bg-white p-4 rounded-lg shadow">
              <p class="text-gray-700">"Świetna platforma! Pomogła mi znaleźć najlepszych uczniów!"</p>
              <p class="text-sm text-gray-500 mt-2">- Jan Kowalski</p>
            </li>
            <li class="bg-white p-4 rounded-lg shadow-md">
              <p class="text-gray-700">"Dzięki MATLOG mogę elastycznie pracować i uczyć!"</p>
              <p class="text-sm text-gray-500 mt-2">- Anna Nowak</p>
            </li>
          </ul>
        </div>
      </div>


